################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreBusiness/obj
/D_Enem.Application/obj
/D_Enem.FilaRequisicao/obj
/D_Enem.ImportarPlanilhas/obj
/D_Enem.Utils/obj
/D_EnemAluno/obj

obj/
bin/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.vspscc
*.vssscc
.vscode/
*.vc.vc.opendb
/packages
