@{
    ViewBag.Title = "Plugin Vídeo";
}

@section headers {
    <style>
        .modal-dialog {
            width: 75%;
            margin: 50px auto;
            padding: 0;
        }

        .modal-content {
            border-radius: 0;
        }
    </style>
}

<div class="darwinenem">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="text-center title-gray">Pesquise pelo assunto desejado?</div>
            <div class="marginbottom30">
                <div class="busca-video">
                    <div class="form-group row">
                        <div class="col-xs-10"><input type="text" placeholder="Buscar pelo assunto desejado" class="form-control" name="top-search" id="top-search"></div>
                        <div class="col-xs-2"><i class="fa fa-search icone" style="cursor: pointer;"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>